body {
  font-size: 16px;
  color: #333;
  font-family: "Helvetica Neue", Arial, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}

.inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;
  margin-bottom: 170px;
}
@media screen and (max-width: 767px) {
  .inner {
    margin-bottom: 90px;
  }
}

.container {
  display: flex;
}
@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
  }
}

.sub__title,
.item__title {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.sub__title {
  color: #f7f7f7;
  font-size: 72px;
  filter: drop-shadow(1px 1px 10px #c0c0c0);
}
@media screen and (max-width: 767px) {
  .sub__title {
    font-size: 32px;
  }
}

.sec__bg-img {
  width: 100%;
  height: 300px;
  margin-bottom: 90px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .sec__bg-img {
    height: 90px;
    margin-bottom: 30px;
    background-attachment: scroll;
  }
}

.item__title {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 40px;
  color: #333;
  padding-bottom: 16px;
  border-bottom: 6px #e03131 solid;
  margin: 0 auto;
  margin-bottom: 70px;
}
@media screen and (max-width: 767px) {
  .item__title {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

.header {
  width: 100%;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .header {
    margin-bottom: 10px;
  }
}
.header__bg-img {
  width: 100%;
  height: 100vh;
  background-image: url(/img/mainvisual.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__nav {
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (max-width: 767px) {
  .header__nav {
    padding: 20px 30px;
  }
}
.header__list {
  display: flex;
  gap: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.header__list a {
  color: #f7f7f7;
  filter: drop-shadow(1px 1px 2px #121212);
  transition: all 0.3s ease;
}
.header__list a:hover {
  color: #e03131;
}
.header__title {
  filter: drop-shadow(1px 1px 10px #c0c0c0);
}

.menu__bg-img {
  background-image: url(../img/menu.jpg);
}
.menu__container {
  width: 100%;
  margin: 0 auto;
  padding: 16px;
}
@media screen and (max-width: 767px) {
  .menu__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
.menu__flex-left, .menu__flex-right {
  width: 48%;
  padding: 16px 45px 0;
}
@media screen and (max-width: 767px) {
  .menu__flex-left, .menu__flex-right {
    width: 100%;
    padding: 0;
  }
}
.menu__flex-left dl, .menu__flex-right dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.menu__flex-left dt,
.menu__flex-left dd, .menu__flex-right dt,
.menu__flex-right dd {
  font-size: 14px;
  font-weight: normal;
}
.menu__flex-left dt, .menu__flex-right dt {
  border-bottom: 1px dotted #333;
  width: 80%;
  padding: 4px;
  margin-bottom: 20px;
}
.menu__flex-left dd, .menu__flex-right dd {
  width: 15%;
  margin-bottom: 20px;
  padding: 4px;
}
.menu__flex-left {
  border-right: 1px solid #333;
}
@media screen and (max-width: 767px) {
  .menu__flex-left {
    border-right: 0;
  }
}
.menu__flex-right dl:first-of-type {
  margin-bottom: 80px;
}
@media screen and (max-width: 767px) {
  .menu__flex-right dl:first-of-type {
    margin-bottom: 10px;
  }
}

.about__bg-img {
  background-image: url(../img/about.jpg);
}
.about__container {
  flex-direction: column;
}
.about__card {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  line-height: 1.8;
  margin-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .about__card {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
.about__btn {
  text-align: center;
}
.about a {
  width: 160px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.4s ease;
}
.about a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-top: 2px solid #e03131;
  border-left: 2px solid #e03131;
  transition: all 0.4s ease;
}
.about a::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid #e03131;
  border-right: 2px solid #e03131;
  transition: all 0.4s ease;
}
.about a:hover::before, .about a:hover::after {
  width: 100%;
  height: 100%;
}

.location__bg-img {
  background-image: url(/img/location.jpg);
}
.location__map {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  filter: grayscale(1);
}
.location__map iframe {
  width: 100% !important;
  height: 400px;
  margin-bottom: 20px;
}
.location__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 1.6;
}

footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

small {
  font-size: 8px;
  text-transform: uppercase;
}/*# sourceMappingURL=style.css.map */